main {
  background-color: antiquewhite;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

main > div,
main > form {
  border-radius: 3px;
  box-shadow: 7px 7px 5px 1px #f5e7be;
}

main > div {
  flex: 1.4;
}

main > form {
  flex: 1;
}

@media screen and (max-width: 600px) {
  main {
    font-size: 100%;
    padding: 0.5rem;
  }

  .cv,
  .form {
    min-width: 100%;
  }

  .iconDiv {
    width: 120px;
    height: 120px;
  }

  .leftCv,
  .rightCv {
    padding: 1rem;
  }
}
