main {
  border: 3px solid black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
}

main > div,
main > form {
  border: 1px solid black;
}

main > div {
  flex: 1.3;
}

main > form {
  flex: 1;
}

.header {
}
