.cv {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.leftCv,
.rightCv {
  padding: 1rem;
}

.leftCv {
  background-color: peachpuff;
}

.rightCv {
  background-color: papayawhip;
}

img {
  width: 150px;
  height: 150px;
}
