@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

.form {
  background-color: #fffff0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 390px;
  border: 2px solid antiquewhite;
}

label,
legend {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button,
input[type='button'] {
  cursor: pointer;
  width: 100%;
  padding: 0.3rem;
  font-family: 'Noto Sans JP', sans-serif;
}

hr {
  color: black;
  background: black;
  height: 2px;
  border: none;
}

input,
textarea {
  font-size: 0.8rem;
  width: 100%;
  margin-top: 0.1rem;
  padding: 0.3rem;
  font-family: 'Noto Sans JP', sans-serif;
}

input[type='file'] {
  display: none;
}

.educ label,
.works label {
  margin: 1rem 0;
}

.reverseField label,
.expSet span {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
}

.fullName,
.contact,
.current {
  display: flex;
  gap: 1rem;
}

.fullName :nth-child(2),
.fullName :nth-child(3) {
  flex: 2;
}

.contact > *,
.current > * {
  flex: 1;
}

.expSet {
  margin-bottom: 1rem;
}

.works {
  margin-bottom: 1.5rem;
}
